body{
    width : 100%;
    margin: 0;
    padding: 0;
    font-family: 'caustenregular','caustenthin';   
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}
@font-face {
    font-family: 'caustenregular';
    src: url('../fonts/causten-regular-webfont.woff2') format('woff2'),
         url('../fonts/causten-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caustenthin';
    src: url('../fonts/causten-thin-webfont.woff2') format('woff2'),
         url('../fonts/causten-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#spotlight .headerwrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#spotlight .headerwrapper a h1 img{
    display: block;
    width: 100px;
    padding: 0 40px;
}
#spotlight .headerwrapper nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 20px;
}    
#spotlight .headerwrapper nav h4{
    margin-right: 35px;
}
#spotlight .headerwrapper nav h4 a{
    text-decoration: none;
    color: #807D7E;
}
#spotlight .headerwrapper nav a:hover{
    color: #3C4242;
}
#spotlight .headerwrapper nav a:active{
    color: #3C4242;
}
#spotlight .search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#spotlight .headerwrapper nav a:active{
    color: #3C4242;   
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #f6f6f6;
    border-radius: 4px;
    color: #807D7E;
    background-color: #f6f6f6;
    background-image: url('../images/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 15px 10px 30px;
}
#spotlight .icons ul{
    display: block;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#spotlight .icons ul li a{
    margin-right: 20px;
    background-color: #f6f6f6;
    padding: 10px ;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
a:hover {
    color: #3C4242; 
}
button:hover {
    background-color: #3C4242;   
}
.carousel-indicators{
    list-style: none;
}
.carousel-itemactive{
    
}
.deal-image {
    
}
.carousel-itemactive img{
    width: 100%;
   
}
.d-block{     
    display: block;
    margin-top: -15px;
}
.carousel-itemactive h5{
    position: absolute;
    top : 28%;
    left: 15%;
    font-size: 32px;
    color: #ffffff;    
}
.carousel-itemactive h1{
    position: absolute;
    top : 37%;
    left: 15%;
    max-width: 400px;
    line-height: 93.62px;
    letter-spacing: 0.31px;
    font-size: 78px;
    font-weight: 800px;
    color: #ffffff;
}
.carousel-itemactive h4{
    position: absolute;
    bottom: 3%;
    left: 16%;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.31px;
    font-weight: bold;
}
.carousel-itemactive button{
    position: absolute;
    top : 95%;
    left: 16%;
    padding: 16px 72px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 4px;
    border:  solid #fff
}
.carousel-control-prev{
    display: block;
   
}
.carousel-control-prev img{
    color: #3C4242;
    position: absolute;
    top: 60%;
    left: 30px;
}
.carousel-control-next img{
    color: #3C4242;
    position: absolute;
    top: 60%;
    right: 30px;
}
#deals {
    padding: 2rem 0;
}
.wrapper {
    width: 80%;
    margin: auto;
}
.explore {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.left,
.right {
    flex: 1 1 45%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    min-width: 280px;
    max-width: 550px;
}
.deal-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.left h5,
.right h5,
.left h2,
.right h2,
.left h3,
.right h3,
.left h6,
.right h6 {
    position: absolute;
    color: white;
    margin: 0;
    padding: 0 3rem;
    z-index: 2;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}
.left h5 {
    top: 4rem;
    left: -1.5rem;
    font-size: 1rem;
}
.left h2 {
    top: 6.5rem;
    left: -1.5rem;
    font-size: 2rem;
    font-weight: 700;
}
.left h3 {
    top: 9rem;
    left: -1.5rem;
    font-size: .8rem;
}
.left h6{
    bottom: 5rem;
    left: -1.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: bold;
}
.right h6 {
    bottom: 4rem;
    left: -1.5rem;
    font-size: 1rem;
}
.right h5 {
    top: 4rem;
    left: -1.5rem;
    font-size: 1rem;
}
.right h2 {
    top: 6.5rem;
    left: -1.5rem;
    font-size: 2rem;
    font-weight: 700;
    max-width: 250px;
}
.right h3 {
    top: 11.5rem;
    left: -1.5rem;
    font-size: .8rem;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}
.arrivals {
    width: 100%;
    margin: 60px 0;
}
.arrivals h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Causten', sans-serif;
    position: relative;
}
.arrivals h3::before{
    content: '';
    height: 28px;
    width: 4px;
    background-color: #A855F7;
    position: absolute;
    left: -15px;
    top: 2px;
    border-radius: 4px;
}
.arrivals .arrows {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}
.arrivals .arrows .arrow-left {
    position: absolute;
    bottom: -47rem;
    left: 70px; 

}
.arrivals .arrows .arrow-right {
    position: absolute;
    bottom: -47rem;
    right: 70px;
}
.arrivals ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.arrivals ul li {
    flex: 1 1 calc(25% - 20px);
}
.arrivals ul li img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}
.arrivals ul li h5 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Causten', sans-serif;
}
.fashions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.fashions img {
    width: 500px;
    height: 521px;
    align-items: center;
}
.fashions h2 {
    position: absolute;
    bottom: 307px;
    left: 12%;
    max-width: 500px;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Causten', sans-serif;
    color: #fff;
}
.fashions h5 {
    max-width: 300px;
    font-size: 1rem;
    font-weight: 100;
    color: #555;
    margin-top: 10px;
    line-height: 1.6;
    font-family: 'Causten', sans-serif;
    position: absolute;
    bottom: 195px;   
    left: 12%;
    color: #fff;
}
.fashions button {
    margin-top: 20px;
    padding: 12px 44px;
    gap: 12px;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Causten', sans-serif;
    position: absolute;
    top: 306px;
    left: 12%;
}
.fashions button:hover {
    background-color: #444;
}
.Men {

}
.Men h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #222;
    font-family: 'Causten', sans-serif;
    position: relative;
}
.Men h3::before{
    content: '';
    height: 28px;
    width: 4px;
    background-color: #A855F7;
    position: absolute;
    left: -15px;
    top: 2px;
    border-radius: 4px;
}
.Men ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Men li {
    border-radius: 5px;
    margin: 0;
}
.Men li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.Men li img:first-child {
    width: 100%;
    height: 300px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.Men li h5 {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    color: #333;
    font-family: 'Causten', sans-serif;
}
.Men li h6 {
    display: inline-block;
    margin-top: 0;
    margin-right: 110px;
    font-size: 13px;
    color: #b7b7b7;
    font-family: 'Caustenthin';
    font-weight: bold;
}
.Men li img:last-child {
    position: absolute;
    margin-left: 25px;
    margin-top: -10px;
    color: #797979;
    height: 12px;
    width: 15px;
}
.women {

}
.women h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #222;
    font-family: 'Causten', sans-serif;
    position: relative;
}
.women h3::before{
    content: '';
    height: 28px;
    width: 4px;
    background-color: #A855F7;
    position: absolute;
    left: -15px;
    top: 2px;
    border-radius: 4px;
}
.women ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.women li {
    background-color: #fefefe;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
    padding-bottom: 15px;
}
.women li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.women li img:first-child {
    width: 100%;
    height: 300px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.women li h5 {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    color: #333;
    font-family: 'Causten', sans-serif;
    text-align: left;
}
.women li h6 {
    text-align: left;
    display: inline-block;
    margin-top: 0;
    margin-right: 150px;
    font-size: 13px;
    color: #b7b7b7;
    font-family: 'Caustenthin';
    font-weight: bold;
   
}
.women li img:last-child {
    position: absolute;
    margin: -10px;
    color: #797979;
    height: 12px;
    width: 15px;
}
.brands {
    text-align: center;
    background-color: #3C4242;
    border-radius: 8px;
    padding: 40px;
}
.brands h2 {
    font-size: 50px;
    color: #fff;
    margin-top: 0px;
    font-family: 'Causten', sans-serif;
}
.brands h4 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 40px;
    font-family: 'Causten', sans-serif;
}
.brand-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.brand-logo img {
    max-width: 120px;
    height: auto;
    border-radius: 4px;
}
.brand-logo img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}
.limelight {
    margin-bottom: 40px;
}
.limelight h3::before{
    content: '';
    height: 28px;
    width: 4px;
    background-color: #A855F7; 
    position: absolute;
    left: -15px;
    top: 2px;
    border-radius: 4px;
}
.limelight h3 {
    font-size: 2rem;
    font-family: 'Causten', sans-serif;
    color: #222;
    position: relative;
    margin-bottom: 40px;
    margin-left:10px ;
}
.limelight a {
    display: inline-block;
    width: 220px;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    text-align: center;
    position: relative;
}
.limelight a img:first-child {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.limelight a img:nth-child(2) {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
    padding: 8px;
}
.limelight a h5 {
    font-size: 1rem;
    margin: 5px 0;
    font-family: 'Causten', sans-serif;
    color: #333;
    text-align: left;
}
.limelight a h6 {
    font-size: 0.9rem;
    font-weight: normal;
    color: #777;
    text-align: left;
    margin: 5px 0; 
}
.limelight a h4{
    background-color: #f3f3f3; 
    font-size: 13px; 
    padding: 10px 32px; 
    align-items: center;
    text-align: center;
    border-radius: 6px; 
    display: inline-block; 
    position: absolute;
    color: #2e2e2e;
    height: 12px;
    width: 15px;
    bottom: 3px;
    left: 165px;
    padding-left: 8px;
}
.feedback {
    padding: 1px 0px;
    background-color: #fff;
    margin-bottom: 100px;
    width: 110%;
}
.feedback h3 {
    font-size: 32px;
    color: #2d2d2d;
    position: relative;
    margin-bottom: 30px;
    font-weight: 700;
}  
.feedback h3::before {
    content: '';
    height: 28px;
    width: 4px;
    background-color: #A855F7; 
    position: absolute;
    left: -15px;
    top: 2px;
    border-radius: 4px;
  }
  
.person{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 1%;
    background-color: #fff;
    border: 1px solid #807D7E;
    border-radius: 12px;
    padding: 20px;
    height: 200px;
}
.profile-stars {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
.profile-stars img{
    display: block;
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}
.stars {
    display: flex;
    gap: 4px;
    margin-bottom: 35px;
}
.stars img {
    width: 20px;
    height: 20px;
}
.person h4{
    letter-spacing: .1em;
    font-size: 20px;
    margin: 0;
    color: #3C4242;
}
.person h5{
    color: #807D7E;
    font-weight: 100;
}
.footer {
    background-color: #3C4242;
    color: #fff;
    padding: 30px 0 ;
    font-family: 'Causten', sans-serif;
    width: 100%;
}
.footer .Top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: -26px;
    font-size: 20px;
}
.footer .Top ul {
    list-style: none;
    padding: 0;
    margin: 0 34px;
}
.footer .Top ul:first-child{
    margin-left: 200px;
}
.footer .Top ul h2 {
    margin-bottom: 25px;
    color: #fff;
}
.footer .Top ul li {
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
    line-height: 2em;
}
.footer .Top ul li:hover {
    color: #fff;
}
.footer .Bottom {
    padding: 0px 110px;
    display: flex;
    flex-direction: column;
}
.footer .social-media {
    display: block;
    gap: 30px;
    margin-top: -62px;
    margin-left: 90px;
}
.footer .social-media img {
    width: 15px;
    height: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    gap: 40px;
}
.footer .app {
    color: #fff;
    text-align: right;
}
.footer .app h2 {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 105px 0;
}
.footer .playstore,
.footer .appstore{
    display: inline-block;
    margin: 0 15px;
    text-align: left;
}
.footer .playstore img,
.footer .appstore img {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    right: 95px;
    margin: 15px auto 5px;
    padding: 0 40px;
}
.footer .playstore h5,
.footer .appstore h5 {
    color: #ccc;
    font-size: 12px;
    font-weight: 200;
    margin: 5px 0 2px;
    position: relative;
    bottom: 42px;
}
.footer .playstore h4,
.footer .appstore h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    position: relative;
    bottom: 41px;
}
.Popular-Categories {
    margin: 4px -13px;
    color: #fff;
}
.Popular-Categories h2 {
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 110px;
}
.Popular-Categories img {
    margin-left: 76%;
    width: 17px;
}
.Popular-Categories hr{
    border-top: 0px solid #BEBCBD;
}
.Popular-Categories h4 {
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 45px;
    text-align: center;
}
.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #2f3435;
    color: #fff;
}
.categories-header .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
.categories-header .arrow-icon {
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

@media (max-width: 1080px) {
    .carousel-itemactive h5 {
        top: 35%;
    }
    .carousel-itemactive h1 {
        top: 43%;
    }
    .carousel-itemactive h4 {
        bottom: -50%;
    }
    .carousel-itemactive button {
        top: 145%;
    }
    .left h5 {
        top: 3rem;
    }
    .left h2 {
        top: 5.5rem;
    }
    .left h3 {
        top: 8rem;
    }
    .right h5 {
        top: 3rem;
    }
    .right h2 {
        top: 5.5rem;
        font-size: 1.8rem; 
    }
    .right h3 {
        top: 9.5rem;
    }
    a {
        text-decoration: none;
        position: relative;
        top: 2px;
    }
    .arrivals .arrows .arrow-right {
        bottom: -9rem;
        left: 55rem;
    }
    .arrivals .arrows .arrow-left {
        bottom: -9rem;
        left: -49px;
    }
    .fashions {
        flex-wrap: nowrap;
    }
    .fashions h2{
        left: 1%;
    }
    .fashions h5{
        left: 1%;
        bottom: 212px;
    }
    .fashions button {
        left: 1%;
        top: 295px;
    }
    .limelight a {
        width: 265px;
    }
    .limelight a h4 {
        left: 205px;
    }
    .Men li img:last-child {
        margin-left: -10px;
    }
    .women li img:last-child {
        margin-left: -12px;
    }
    .women li h6 {
        margin-right: 117px;
    }
    .footer .Top ul:first-child{
        margin-left: 105px;
    }
    .footer .social-media {
        margin-left: 19px;
    }
    .Popular-Categories img {
        display: block;
        margin-top: -15px;
    }
}
@media (max-width: 980px) {
    .carousel-itemactive h5 {
        font-size: 28px;
        top: 35%;
    }
    .carousel-itemactive h1 {
        font-size: 70px;
        line-height: 90.62px;
    }
    .carousel-itemactive h4 {
        bottom: -38%;
    }
    .carousel-itemactive button {
        top: 135%;
    }
    .left h2 {
        top: 5rem;
    }
    .left h3 {
        top: 7.5rem;
    }
    .left h6 {
        bottom: 3rem;
    }
    .right h2 {
        top: 5rem;
        max-width: 200px;
        font-size: 24px;
    }
    .right h3 {
        top: 8.5rem;
    }
    .right h6 {
        bottom: 3rem;
    }
    .arrivals .arrows .arrow-right {
        bottom: -9rem;
        left: 50rem;
    }
    .arrivals ul li img {
        height: 215px;
    }
    .fashions img {
        width: 450px;
        height: 405px;
    }
    .fashions h2 {
        bottom: 230px;
        font-size: 1.5rem;
        max-width: 400px;
        left: 5%;
        font-size: 26px;
    }
    .fashions h5 {
        left: 5%;
        bottom: 130px;
    }
    .fashions button {
        top: 240px;
        left: 5%;
    }
    .Men ul {
        gap: 0;
    }
    .Men li img:first-child {
        width: 84%;
        height: 265px;
    }
    .Men li img:last-child {
        margin-left: -35px;
        margin-top: -5px;
    }
    .women ul{
        gap: 0;
    }
    .women li img:first-child {
        width: 95%;
        height: 265px;
    }
    .women li img:last-child {
        margin-left: -25px;
    }
    .brand-logo {
        gap: 20px;
    }
    .person {
        padding: 21px;
        height: 205px;
    }
    .footer .Top ul:first-child {
        margin-left: 17px;
    }
    .footer .Top ul {
        margin: 1px 24px 0;
        padding-left: 10px;
    }
}
@media (max-width: 768px) {
    .categories-header {
        padding: 1rem 2rem;
    }
    #spotlight .headerwrapper {
        margin: -12px;
    }
    #spotlight .search-container {
        margin-top: 35px;
    }
    .carousel-itemactive img {
        width: 118%;
    }
    .deal-image {
        width: 100%;
        height: 200px;
    }
    a {
        top: 18px;
    }
    .left, .right {
        min-width: 300px;
        max-width: 503px;
    }
    .wrapper {
        margin-left: 70px;
        width: 100%;
    }
    #categories{
        margin-left: 10px;
    }
    .arrivals .arrows .arrow-right {
        left: 49rem;
    }
    .women li h6 {
        margin-right: 116px;
    }
    .feedback{
        margin-left: -15px;
    }
    .footer{
        width: 120%;
        margin-left: -11px;
    }
    .footer .Top {
        flex-wrap: nowrap;
    }
    .footer .Top ul h2 {
        font-size: 17px;
    }

}
@media (max-width: 640px) and (min-width: 320px) {
    .carousel-itemactive img {
        width: 139%;
    }
    .carousel-itemactive h5 {
        top: 22%;
    }
    .carousel-itemactive h1 {
        top: 27%;
    }
    .carousel-itemactive h4 {
        bottom: 12%;
    }
    .carousel-itemactive button {
        top: 85%;
    }
    .deal-image {
        width: 110%;
    }
    .arrivals ul li h5 {
        margin-top: 25px;
    }
    .arrivals .arrows .arrow-right {
        left: 41rem;
    }
    .fashions {
        margin-left: 75px;
    }
    .fashions h2 {
        left: -11%;
    }
    .fashions h5 {
        left: -11%;
    }
    .fashions button {
        left: -11%;
    }
    .brands {
        width: 106%;
    }
    .wrapper {
        margin-left: 70px;
        width: 100%;
    }
    #categories{
        margin-left: 10px;
    }
    .feedback {
        width: 130%;
    }
    .footer{
        width: 141%;
        padding: 5px 0;
    }
}
  




